<div class="container">
  <div class="row">
    <div class="col-sm-5">
      <%= search_form_for @q do |f| %>
    
      <%= f.label "Keyword Search" %>
      <%= f.search_field :first_name_or_last_name_or_city_or_state_or_bio_or_coach_type_or_language_or_certification_or_skills_or_experience_or_email_or_leadership_or_wellbeing_or_management_cont %>
      <br><br>
      Coach Type (check all that apply)<br>
        <div class="form-group">
          <div class="checkbox">
            <label>
              <%= check_box_tag "q[leadership_cont]", value = "leadership" %>Leadership
            </label>  
          </div>
        </div>

        <div class="form-group">
          <div class="checkbox">
            <label>
              <%= check_box_tag "q[management_cont]", value = "management" %>Management
            </label>
          </div>
        </div>

        <div class="form-group">
          <div class="checkbox">
            <label>
              <%= check_box_tag "q[wellbeing_cont]",  value = "wellbeing" %>Wellbeing
            </label>
          </div>
        </div>

      <br>
      <%= f.submit "Search" %>
    </div>
  </div>
  <% end %>

  <h1>Coaches</h1>

  <table>
    <thead>
      <tr>
        <!-- <th>Mentor Email</th> -->
        <th>First name</th>
        <th>Last name</th>
        <th>City</th>
        <th>State</th>
        <th>Bio</th>
        <th>Coach type</th>
        <th>Rating</th>
        <th>Price low</th>
        <th>Price high</th>
        <th>Language</th>
        <th>Certification</th>
        <th>Skills</th>
        <th>Experience</th>
        <th>Email</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @profiles.each do |profile| %>
        <tr>
          <td><%= profile.first_name %></td>
          <td><%= profile.last_name %></td>
          <td><%= profile.city %></td>
          <td><%= profile.state %></td>
          <td><%= profile.bio %></td>
          <td><%= profile.coach_type %></td>
          <td><%= profile.rating %></td>
          <td><%= profile.price_low %></td>
          <td><%= profile.price_high %></td>
          <td><%= profile.language %></td>
          <td><%= profile.certification %></td>
          <td><%= profile.skills %></td>
          <td><%= profile.experience %></td>
          <td><%= profile.email %></td>
          <td><%= link_to 'Show', profile %></td>
          <% if can? :edit, profile %>
            <td><%= link_to 'Edit', edit_profile_path(profile) %></td>
            <td><%= link_to 'Destroy', profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Profile', new_profile_path %>
</div>

