

<div class="profile_container">
    <p id="notice"><%= notice %></p>

<!-- Pic and contact info -->
  <div class="container">
    <div class="pic_with_name col-sm-6">
      <%= link_to image_tag("testimonial2.png", :height => 200, :width => 200, :alt => "Person1"), {:class => "", :alt => "Profile Picture"} %> 
      <div class="profile_info">
        <h2><%= @profile.first_name  %> <%= @profile.last_name  %></h2>
        <h4><%= @profile.industry  %> </h4>
        <h4><%= @profile.city %>, <%= @profile.state %></h4>
        <button class="btn-lg btn-block"> Contact </button><br>
        <button class="btn-lg btn-block"> Add to favorites </button>

      </div>
    </div>
  </div>
<!-- Profile Videos -->
  <div class="profile_videos container">
    <div class="row">
      <div class="col-sm-6 intro_video">
        <p>Introduction</p>
        <iframe width="475" height="290" src="https://www.youtube.com/embed/yyb1wImU-4I" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="col-sm-6 what_sets_you_apart_video">
        <p>What sets you apart from other coaches?</p>
        <iframe width="475" height="290" src="https://www.youtube.com/embed/p_t9NmZNhIE" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
<!-- Bio -->
  <div class="container">
    <div class="row">
      <div class="col-sm-7">
        <h2>Bio</h2>
        <%= @profile.bio  %>
        <h2>Skills</h2>
        <%= @profile.skills  %>
      </div>
      <div class="col-sm-5">
        <h2>Details</h2>
          <div class="row"> 
            <div class="col-sm-6">
              <h4>Coach Type </h4>
            </div>
            <div class="col-sm-6">
              <h5><%= @profile.coach_type  %></h5>
            </div>
          </div>
          <div class="row"> 
            <div class="col-sm-6">
              <h4>Rating </h4>
            </div>
            <div class="col-sm-6">
              <h5><%= @profile.rating %></h5>
            </div>
          </div>
          <div class="row"> 
            <div class="col-sm-6">
              <h4>Price </h4>
            </div>
            <div class="col-sm-6">
              <h5>$<%= @profile.price_low %> - $<%= @profile.price_high %></h5>
            </div>
          </div>  
          <div class="row"> 
            <div class="col-sm-6">
              <h4>Industry background </h4>
            </div>
            <div class="col-sm-6">
              <h5><%= @profile.industry %></h5>
            </div>
          </div> 
          <div class="row"> 
            <div class="col-sm-6">
              <h4>Languages </h4>
            </div>
            <div class="col-sm-6">
              <h5><%= @profile.language %></h5>
            </div>
          </div>
          <div class="row"> 
            <div class="col-sm-6">
              <h4>Certification </h4>
            </div>
            <div class="col-sm-6">
              <h5><%= @profile.certification %></h5>
            </div>
          </div> 


      </div>
    </div>
  </div>
<!--     <div class="container">
    <h2>Skills</h2>
    <%= @profile.skills  %>
  </div> -->
</div>

<div class="container">
<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @profile.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @profile.last_name %>
</p>

<p>
  <strong>City:</strong>
  <%= @profile.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @profile.state %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @profile.bio %>
</p>

<p>
  <strong>Coach type:</strong>
  <%= @profile.coach_type %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @profile.rating %>
</p>

<p>
  <strong>Price low:</strong>
  <%= @profile.price_low %>
</p>

<p>
  <strong>Price high:</strong>
  <%= @profile.price_high %>
</p>

<p>
  <strong>Language:</strong>
  <%= @profile.language %>
</p>
<p>
  <strong>Industry:</strong>
  <%= @profile.industry %>
</p>
<p>
  <strong>Certification:</strong>
  <%= @profile.certification %>
</p>

<p>
  <strong>Skills:</strong>
  <%= @profile.skills %>
</p>

<p>
  <strong>Experience:</strong>
  <%= @profile.experience %>
</p>

<p>
  <strong>Email:</strong>
  <%= @profile.email %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
</div>
