<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
      xmlns="http://www.w3.org/1999/html">
<div class="l-primary">
  <div class="container" id="contact_us_container">
    <h1 id="page_title"></h1>

    <div class="row blog_div">
      <div class="col-sm-8" id="mentor_description">
        <article id="1">
          <h3 class="entry-title" itemprop="headline">Coaching A Profession Not Just A Skill, Here are 5 Things You
            Should Know</h3>
          <p>
            <a href="#"><%= image_tag("slide2-mentormapp-mentoring.jpg", alt: "Cover Image", class: "img-responsive") %></a>
          </p>

          <div class="addthis_toolbox">
            <span>Article Share via</span>
            <a class="addthis_button_facebook button button-secondary button-small" title="Facebook" href="#">
              <i class="fa fa-facebook"></i> Facebook |
            </a>
            <a class="addthis_button_twitter button button-secondary button-small" title="Tweet" href="#">
              <i class="fa fa-twitter"></i> Twitter |
            </a>
            <a class="addthis_button_linkedin button button-secondary button-small" target="_blank" title="LinkedIn" href="#">
              <i class="fa fa-linkedin"></i> Likedin
            </a>

            <div class="atclear"></div>
          </div>
          <br>
          <strong>Coaching is a rapidly growing profession:</strong><br/>
          <p>
            Coaching is a growing in size, with 47,000 International Coach Federation-accredited coaches generating $2
            billion in revenues, according to a 2012 ICF survey.</p>

          <p>
           1. <i>A global profession:</i><br>
            Coaching as a profession is geographically concentrated in high-income regions such as Western Europe, North America, Oceania, and rapidly expanding BRICs in Eastern Europe and Asia.<br>

           2. <i>A diverse profession:</i><br>
            Coaching encompasses a diverse set of specialties. Coaches have a lot of variation in levels of income, hourly wages, weekly hours coaching, and number of clients.<br>

           3. <i>A confident profession:</i><br>
            Coaching takes a confident view into the future. Coaches have a positive outlook in their capability to create value even in the midst of economic recessions.<br>

           4. <i>Not just a skill:</i><br>
            The ICF 2012 survey results reveal an increased recognition of coaching as a profession not merely a skill set. Coaching remains a self- regulated profession. If you have appropriate credentials, we would like you as coach. If you join us in our community of practice, you can help the profession regulate itself.<br>
          </p>

          <p>About MentorMapp.com : MentorMapp ® is a safe, efficient, affordable way to match coaches with people (and companies) seeking mentoring and coaching.
            You can use MentorMapp ® to get access to, engage with, connect with, and collaborate with a community of mentors and coaches who are experts in leadership, management, and wellbeing.
            Participants can share their experiences with the community in total confidentiality.<br>
          </p>

          <p>
            We focus on the success factors critical to sustain return on your investment in future and existing coaching and mentoring engagements.
          </p>

          <p>
            Join the movement or simply let us know your thoughts about this blog post.
          </p>

          <p>
            -- Zoe, Social Media at MentorMapp ®</p>
        </article>
        <hr/>
        <article id="2">
          <div class="edit-link"></div>
          <h3 class="entry-title" itemprop="headline">Transition To Become A Coach, 6 Questions You Need to Ask
            Yourself</h3>
          <!--<div class="entry-meta"><span class="posted-on">Posted on <time class="updated" datetime="2016-01-14T18:36:00+00:00" itemprop="datePublished">January 14, 2016</time></span> | <span class="byline"> By <span class="author vcard" itemscope="itemscope" itemtype="http://schema.org/Person" itemprop="author"><a class="url fn n" href="https://www.ideator.com/blog/author/jesanders/" itemprop="name">Jeremy Sanders</a></span></span> | <span class="categories"><a href="https://www.ideator.com/blog/category/entrepreneurship/" title="View all posts in Entrepreneurship">Entrepreneurship</a>, <a href="https://www.ideator.com/blog/category/ideas/" title="View all posts in Ideas">Ideas</a>, <a href="https://www.ideator.com/blog/category/starting-a-business/" title="View all posts in Starting a Business">Starting a Business</a></span></div>-->
          <p>
            <a href="#"><%= image_tag("slide4-mentrmapp-women-coffee.jpg", alt: "Cover Image", class: "img-responsive") %></a>
          </p>

          <div class="addthis_toolbox">
            <span>Article Share via</span>
            <a class="addthis_button_facebook button button-secondary button-small" title="Facebook" href="#">
              <i class="fa fa-facebook"></i> Facebook |
            </a>
            <a class="addthis_button_twitter button button-secondary button-small" title="Tweet" href="#">
              <i class="fa fa-twitter"></i> Twitter |
            </a>
            <a class="addthis_button_linkedin button button-secondary button-small" target="_blank" title="LinkedIn" href="#">
              <i class="fa fa-linkedin"></i> Likedin
            </a>

            <div class="atclear"></div>
          </div>
          <br>
          <strong>A coaching education built on experience as a foundation:</strong><br>

          <p>Many people become coaches after having already having had one or more careers. So they have accumulated a
            wealth of knowledge and skills. Your background can help you as a professional coach. But coaching is a
            distinct profession, and it’s important to acquire and practice the necessary skills by enrolling in a coach
            training program. There are a variety of coach training program to choose from. While you are researching
            programs, consider:</p>

            1- How do you enjoy learning?<br/>

            2- Do you like to explore theory and practice?<br/>

            3- How and where do you want to receive your training – in person, on line, or a combination?<br/>

            4- Will your needs be met better by a program offered by a university or by training at an independent
            school?<br/>

            5- What type of coaching would you focus on after training? Some programs may align better with your goals
            than others.<br/>

            6- How much time and money are you willing to invest in your training? Programs vary greatly in cost and the
            time commitment required.<br/>

          <p>
            Of course, you can find plenty of options to consider with a simple internet search. Use your preferences to
            help select a manageable number of programs to compare. You can also visit sites such as
            <a href="www.coachfederation.org">www.coachfederation.org</a> to see a list of training programs accredited or approved by the International Coach
            Federation.</p>

          <p>
            Attending an ICF-recognized program will help to ensure that you receive well-rounded training and
            education, that you get the benefits of working with a mentor coach, and that you accumulate coaching
            practice hours. You may also want to connect with local coaches in your area to see if they can recommend a
            training program. If you know a coach ask them about their coach training experiences or you can connect
            with your local ICF chapter and talk to local coaches about the program they attended.
          </p>

          <p>
            Good luck selecting a training option as you move along the path to becoming a professional coach.
          </p>

          <p>
            About MentorMapp.com : MentorMapp ® is a safe, efficient, affordable way to match coaches with people (and companies) seeking mentoring and coaching.
            You can use MentorMapp ® to get access to, engage with, connect with, and collaborate with a community of mentors and coaches who are experts in leadership, management, and wellbeing.
            Participants can share their experiences with the community in total confidentiality.
          </p>
          <p>We focus on the success factors critical to sustain return on your investment in future and existing coaching and mentoring engagements.</p>

          <p>Join the movement or simply let us know your thoughts about this blog post.</p>
          <br/>
          -- Zoe, Social Media at MentorMapp ®


        </article>
        <hr/>

        <article id="3">
          <h3 class="entry-title" itemprop="headline">Selecting A Professional Coach in 4 Steps</h3>
          <p>
            <a href="#"><%= image_tag("slide3-sutther.jpg", alt: "Cover Image", class: "img-responsive") %></a>
          </p>

          <div class="addthis_toolbox">
            <span>Article Share via</span>
            <a class="addthis_button_facebook button button-secondary button-small" title="Facebook" href="#">
              <i class="fa fa-facebook"></i> Facebook |
            </a>
            <a class="addthis_button_twitter button button-secondary button-small" title="Tweet" href="#">
              <i class="fa fa-twitter"></i> Twitter |
            </a>
            <a class="addthis_button_linkedin button button-secondary button-small" target="_blank" title="LinkedIn" href="#">
              <i class="fa fa-linkedin"></i> Likedin
            </a>

            <div class="atclear"></div>
          </div>
          <br>
          <strong> Having options and flexibility in the design process is power</strong><br>

          <p>
            Guidelines on selecting a professional coach to work with after you interviewed several difference
            coaches: </p>

          <p>
            You have done your research on coaching and found about the objectives you want to address and invested time
            into interviewing several coaches. Now is time to make a final selection and then think about what’s
            important to include in a contract between you and the coach you selected.
          </p>

          <p>
            1- Take some time to study your notes and review all of the pros and cons you have collected during your
            interviews with coaches. Hopefully, you have interviewed at least three coaches during this process and most
            likely collected quite a few notes from the many questions you asked each coach.
          </p>

          <p>
            2- Consider how you feel about each coach. Do you feel confortable with their level of education and training?
            Did you receive positive information from their references?<br/>
            3- Are you happy with how the coach prefers to deliver coaching sessions in terms of methods, length, and frequency? <br/>
            4- Can you afford the coach’s fees?<br/>
          </p>

          <p>
            About MentorMapp.com : MentorMapp ® is a safe, efficient, affordable way to match coaches with people (and companies) seeking mentoring and coaching.
            You can use MentorMapp ® to get access to, engage with, connect with, and collaborate with a community of mentors and coaches who are experts in leadership, management, and wellbeing.
            Participants can share their experiences with the community in total confidentiality.</p>

            <p>
              We focus on the success factors critical to sustain return on your investment in future and existing coaching and mentoring engagements.</p>
          <p>Join the movement or simply let us know your thoughts about this blog post.
          </p>

          <p>  -- Zoe, Social Media at MentorMapp ®</p>
        </article>
        <hr/>
        <article id="4">
          <h3 class="entry-title" itemprop="headline">When Contracting With A Professional Coach, 4 Absolut Must
            Have</h3>
          <p>
            <a href="#"><%= image_tag("slide1-blog.jpg", alt: "Cover Image", class: "img-responsive") %></a>
          </p>

          <div class="addthis_toolbox">
            <span>Article Share via</span>
            <a class="addthis_button_facebook button button-secondary button-small" title="Facebook" href="#">
              <i class="fa fa-facebook"></i> Facebook |
            </a>
            <a class="addthis_button_twitter button button-secondary button-small" title="Tweet" href="#">
              <i class="fa fa-twitter"></i> Twitter |
            </a>
            <a class="addthis_button_linkedin button button-secondary button-small" target="_blank" title="LinkedIn" href="#">
              <i class="fa fa-linkedin"></i> Likedin
            </a>

            <div class="atclear"></div>
          </div>
          <br>
          <strong>Know thyself, know your coach but use a contract </strong>
          <br>

          <p>
            Guidelines on selecting a professional coach to work with after you interviewed several difference coaches
            are referred to the “on selecting a coach” section.</p>

          <p>
            Once you have made your choice, make sure to request a contract from your coach. Having a contract in place
            will make sure that both parties know what’s expected from the coaching partnership. The contract must
            include details on:<br/>

            1- How sessions will be offered – via phone, in-person, or some combination of the two. (Remember that Skype
            and similar platforms can give you and enhanced phone experience.)<br/>
            2- How support outside of session will be offered<br/>
            3- Fees for services provided<br/>
            4- The initial term of the coaching partnership

          </p>

          <p>
            Follow these tips to help ensure that your coaching experience is a positive and effective partnership.</p>
          </p>
          <p>
            About MentorMapp.com : MentorMapp ® is a safe, efficient, affordable way to match coaches with people (and
            companies) seeking mentoring and coaching. You can use MentorMapp ® to get access to, engage with, connect
            with, and collaborate with a community of mentors and coaches who are experts in leadership, management, and
            wellbeing. Participants can share their experiences with the community in total confidentiality. We focus on
            the success factors critical to sustain return on your investment in future and existing coaching and
            mentoring engagements.
          </p>

          <p>
            Join the movement or simply let us know your thoughts about this blog post.
          </p>

          <br/>

          -- Zoe, Social Media at MentorMapp ®</p>
        </article>
        <hr/>
        <article id="5">
          <h3 class="entry-title" itemprop="headline">5 Benefits of membership to professional coaching organisation</h3>
          <p>
            <a href="#"><%= image_tag("PCC.jpg", alt: "Cover Image", class: "img-responsive") %></a>
          </p>

          <div class="addthis_toolbox">
            <span>Article Share via</span>
            <a class="addthis_button_facebook button button-secondary button-small" title="Facebook" href="#">
              <i class="fa fa-facebook"></i> Facebook |
            </a>
            <a class="addthis_button_twitter button button-secondary button-small" title="Tweet" href="#">
              <i class="fa fa-twitter"></i> Twitter |
            </a>
            <a class="addthis_button_linkedin button button-secondary button-small" target="_blank" title="LinkedIn" href="#">
              <i class="fa fa-linkedin"></i> Likedin
            </a>

            <div class="atclear"></div>
          </div>
          <br>
          <strong>The power of networks and professional groups </strong>
          <br>
          <p>
            Many professions form membership organizations that you can join when you start your practice, and coaching is no different. Reasons to join an organization include:
          </p>

          <p>
           1. Professional Development Opportunities: Many organization offer free or low-cost training sessions.<br/>

           2. Networking Opportunities to connect with other coaches and potential clients. Organizations may have local chapters, conferences, and other events to network with fellow coaches as well as people interested in being coached.<br/>

           3. Staying Up to Date on the Profession: Learn about research, news, and more.<br/>

           4. Leadership Opportunities: Most organizations have a variety of volunteer roles that members fill. Volunteering on a project that interest you can provide you with new friends and colleagues as well as giving you a sense of personal satisfaction.<br/>

           5. Other resources: Organizations may offer materials to help you market your coaching practice or resource partners to help you spend less on product and services than you may need for your business.

          </p>

          <p>
            You can find a professional organization by asking for recommendations from local coaches or a representative from a coach training program – or simply by searching on the internet.
          </p>
          <p>
            About MentorMapp.com : MentorMapp ® is a safe, efficient, affordable way to match coaches with people (and companies) seeking mentoring and coaching. You can use MentorMapp ® to get access to, engage with, connect with, and collaborate with a community of mentors and coaches who are
            experts in leadership, management, and wellbeing. Participants can share their experiences with the community in total confidentiality.
          </p>

          <p>
            We focus on the success factors critical to sustain return on your investment in future and existing coaching and mentoring engagements.
          </p>
          <p>Join the movement or simply let us know your thoughts about this blog post.</p>
          <br/>

          -- Zoe, Social Media at MentorMapp ®</p>
        </article>
        <hr/>
        <article id="6">
          <h3 class="entry-title" itemprop="headline">Starting a career as a professional coach, 4 Questions To Ask Yourself</h3>
          <p>
            <a href="#"><%= image_tag("hero_early_careers.jpg", alt: "Cover Image", class: "img-responsive") %></a>
          </p>

          <div class="addthis_toolbox">
            <span>Article Share via</span>
            <a class="addthis_button_facebook button button-secondary button-small" title="Facebook" href="#">
              <i class="fa fa-facebook"></i> Facebook |
            </a>
            <a class="addthis_button_twitter button button-secondary button-small" title="Tweet" href="#">
              <i class="fa fa-twitter"></i> Twitter |
            </a>
            <a class="addthis_button_linkedin button button-secondary button-small" target="_blank" title="LinkedIn" href="#">
              <i class="fa fa-linkedin"></i> Likedin
            </a>

            <div class="atclear"></div>
          </div>
          <br>
          <strong>4 steps to your epiphany</strong>
          <br>
          <p>
            What type of research you want to perform when determining if the being a coach is right for you? First, be sure you have a solid understanding on what the coaching profession really is and what it is not:
          </p>

          <p>
            Coaching is <b><i>not</i></b> consulting, advising, therapy, or being paid to be someone’s friend.
            Coaching <b><i>is</i></b> about partnering with clients in a thought-provoking and creative process that inspires them to maximize their personal
            and professional potential. Professional coaches help clients gain more awareness
            of their strengths and internal resources. This helps contribute to a client positive change and goal achievement.

          </p>
          <p>
            You want to consider if you have a good personality to be a professional coach. Here are some things to think about:
          </p>

          <p>
           1. Are you naturally curious and a good listener? Coaching is about inviting a client to express what is important and relevant to goals they wish to achieve.<br/>
           2. Do you enjoy working with people? It’s important to a coach to be able to build trust in their coaching relationships.<br/>
           3. Are you an effective communicator? As a coach, you will need to provide clear feedback including metaphors to help illustrate your point.<br/>
           4. Are you a self-starter, organized, and good at time management? You need to balance creating time for clients, making time for your own personal life, and managing the many aspects of running a small business.
          </p>
          <p>
            Take some time to review the many research reports case studies and other tools available online at site such as
            <a href="www.coachfederation.org">www.coachfederation.org</a> . These items will give a clear picture of what to expect, including:
          </p>

          <p>
            - Types of goals clients are interested in achieving
            - Average salary for professional coaches
            - Type of clients using professional coaches around the world
            - And much more …
          </p>
          <p>
            About MentorMapp.com : MentorMapp ® is a safe, efficient, affordable way to match coaches with people (and companies)
            seeking mentoring and coaching. You can use MentorMapp ® to get access to, engage with, connect with, and collaborate with a community of mentors and coaches who are experts
            in leadership, management, and wellbeing. Participants can share their experiences with the community in total confidentiality. </p>
          <p>
            We focus on the success factors critical to sustain return on your investment in future and existing coaching and mentoring engagements.
          </p>
          <p>
            Join the movement or simply let us know your thoughts about this blog post.
          </p>
          <br/>

          -- Zoe, Social Media at MentorMapp ®</p>
        </article>
        <hr/>
        <article id="7">
          <h3 class="entry-title" itemprop="headline">When interviewing a professional coach, 5 Questions You Need to Ask</h3>
          <p>
            <a href="#"><%= image_tag("blog_seven.jpg", alt: "Cover Image", class: "img-responsive") %></a>
          </p>

          <div class="addthis_toolbox">
            <span>Article Share via</span>
            <a class="addthis_button_facebook button button-secondary button-small" title="Facebook" href="#">
              <i class="fa fa-facebook"></i> Facebook |
            </a>
            <a class="addthis_button_twitter button button-secondary button-small" title="Tweet" href="#">
              <i class="fa fa-twitter"></i> Twitter |
            </a>
            <a class="addthis_button_linkedin button button-secondary button-small" target="_blank" title="LinkedIn" href="#">
              <i class="fa fa-linkedin"></i> Likedin
            </a>

            <div class="atclear"></div>
          </div>
          <br>
          <strong> A clear structure and process for success</strong>
          <br>
          <p>
            It is important to speak to several coaches before making the selection.
            You want to talk to at least three so that you can compare your experiences with each coach.
            Ask each coach about their specific training, experience, qualifications, credentials, and skills.
            You also want to get at least two references from each candidate coach.
          </p>

          <p>
            Some coaches in the market may be relying on skills they have acquired while performing other careers.
            Remember, coaching is a distinct profession. To ensure an optimal coaching partnership, I encourage you to work with
            a coach who has completed coaching-specific training. You may what to ask the coaches you interviewed some of the following questions:

          </p>
          <p>
            1. How many people have you coached? <br>
            2. What is your coaching specialty?<br>
            3. What is your philosophy of coaching?<br>
            4. How – and how often – will coaching session be conducted? Over the phone? Twice a month?<br>
            5. What are your fees?<br>

          </p>

          <p>
            In addition to asking about specific training, you may also want to ask if the coaches you interviewed hold a credential
            and I they have a membership with a professional coaching organization such as International Coach Federation.
          </p>
          <p>
            A greater number of clients report having a satisfactory coaching experience when working with a
            coach who holds a credential such as one of the three credentials offered by the International Coach
            Federation: <a href="http://www.coachfederation.org/credential/landing.cfm?ItemNumber=2199&navItemNumber=744">ACC</a>, <a href="http://www.coachfederation.org/credential/landing.cfm?ItemNumber=2202&navItemNumber=745">PCC</a>, or <a href="http://www.coachfederation.org/credential/landing.cfm?ItemNumber=2205&navItemNumber=746">MCC</a>.
          </p>

          <p>Keep these tips in mind when interviewing a professional coach.</p>
          <p>

            About MentorMapp.com : MentorMapp ® is a safe, efficient, affordable way to match coaches with people (and companies) seeking mentoring and coaching.
            You can use MentorMapp ® to get access to, engage with, connect with, and collaborate with a community of mentors and coaches who are experts in leadership, management, and wellbeing.
            Participants can share their experiences with the community in total confidentiality.
          </p>
          <p>
            About MentorMapp.com : MentorMapp ® is a safe, efficient, affordable way to match coaches with people (and companies)
            seeking mentoring and coaching. You can use MentorMapp ® to get access to, engage with, connect with, and collaborate with a community of mentors and coaches who are experts
            in leadership, management, and wellbeing. Participants can share their experiences with the community in total confidentiality. </p>
          <p>
            We focus on the success factors critical to sustain return on your investment in future and existing coaching and mentoring engagements.
          </p>
          <p>
            Join the movement or simply let us know your thoughts about this blog post.
          </p>
          <br/>

          -- Zoe, Social Media at MentorMapp ®</p>
        </article>
        <hr/>
        <article id="8">
          <h3 class="entry-title" itemprop="headline">7 Possible Objectives to achieve with a professional coach</h3>
          <p>
            <a href="#"><%= image_tag("blog_8.jpg", alt: "Cover Image", class: "img-responsive") %></a>
          </p>

          <div class="addthis_toolbox">
            <span>Article Share via</span>
            <a class="addthis_button_facebook button button-secondary button-small" title="Facebook" href="#">
              <i class="fa fa-facebook"></i> Facebook |
            </a>
            <a class="addthis_button_twitter button button-secondary button-small" title="Tweet" href="#">
              <i class="fa fa-twitter"></i> Twitter |
            </a>
            <a class="addthis_button_linkedin button button-secondary button-small" target="_blank" title="LinkedIn" href="#">
              <i class="fa fa-linkedin"></i> Likedin
            </a>

            <div class="atclear"></div>
          </div>
          <br>
          <strong>Setting objectives for desired  outcomes</strong>
          <br>
          <p>
            So you have decided to hire a coach. It is your responsibility to decide exactly what you want to accomplish and to establish a coach’s
            responsibility to help you work towards those objectives.
          </p>

          <p>
            When you are setting your objective, be as specific as possible.
            Pick milestones you can actually measure. Setting clear goals at the beginning of your coaching partnership will help your
            coach and you set a clear direction to move toward and will help motivate you during the coaching process.
            Coaching can help address issues such as:
          </p>
          <p>
            1. Self Confidence and Executive Presence<br>
            2. Work-Life Balance<br>
            3. Managing Career Opportunities<br>
            4. Stress Reduction<br>
            5. Business or Managerial Effectiveness<br>
            6. Executive Wellbeing or Wellness<br>
            7. Work Performance<br>

          </p>

          <p>
            It is just a matter of identifying what area(s) you want to experience a positive change in.
            Unlike a colleague, family member, or a person with a vested interest, a coach is someone who has only your interest in mind. Setting clear, achievable goals and objectives will make it easier to measure your progress and the return on investment on your professional coaching partnership.
          </p>
          <p>
            Working toward your goals may seem impossible alone – but this is where your coach comes into play.
            Your coach is there to help you discover how to reach your goals, eliciting solutions and strategies for you, and holding you responsible and accountable for working toward your goals.
            Keep these tips in mind as you prepare to set your objective with a professional coach.
          </p>
          <p>
            About MentorMapp.com : MentorMapp ® is a safe, efficient, affordable way to match coaches with people (and companies) seeking
            mentoring and coaching. You can use MentorMapp ® to get access to, engage with, connect with, and collaborate with a community of
            mentors and coaches who are experts in leadership, management, and wellbeing. Participants can share their experiences with
            the community in total confidentiality.


          </p>
          <p>
            We focus on the success factors critical to sustain return on your investment in future and existing coaching and mentoring engagements.
          </p>
          <p>
            We focus on the success factors critical to sustain return on your investment in future and existing coaching and mentoring engagements.
          </p>
          <p>
            Join the movement or simply let us know your thoughts about this blog post.
          </p>
          <br/>

          -- Zoe, Social Media at MentorMapp ®</p>
        </article>
        <hr/>
        <article id="9">
          <h3 class="entry-title" itemprop="headline">A lifetime learner’s journey, continuing professional coaching education</h3>
          <p>
            <a href="#"><%= image_tag("blog_9.jpg", alt: "Cover Image", class: "img-responsive") %></a>
          </p>

          <div class="addthis_toolbox">
            <span>Article Share via</span>
            <a class="addthis_button_facebook button button-secondary button-small" title="Facebook" href="#">
              <i class="fa fa-facebook"></i> Facebook |
            </a>
            <a class="addthis_button_twitter button button-secondary button-small" title="Tweet" href="#">
              <i class="fa fa-twitter"></i> Twitter |
            </a>
            <a class="addthis_button_linkedin button button-secondary button-small" target="_blank" title="LinkedIn" href="#">
              <i class="fa fa-linkedin"></i> Likedin
            </a>

            <div class="atclear"></div>
          </div>
          <br>
          <strong>Starting your lifelong journey</strong>
          <br>
          <p>
            When you decide to obtain a credential after you have completed your initial coach training,
            it’s important to complete additional training session over years to maintain and renew your credentials regularly.
            Part of the benefit of sustaining your credentials is to demonstrate to clients that you take ongoing professional development seriously.

          </p>

          <p>
            You may decide to obtain your continuing education through in-person events, on-line offerings,
            or even though tele-courses. Many professional coaches decide to take a mixture of offerings.

          </p>
          <p>
            When you make a decision to join a membership organization you will have the chance to enjoy free continuing education opportunities,
            discount fees to events, and more.

          </p>

          <p>
            Whether or not you decide to test for a credential independent from your coaching training certification,
            continuing your development throughout your career as a professional coach is important. Start your research today!

          </p>

          <p>
            About MentorMapp.com : MentorMapp ® is a safe, efficient, affordable way to match coaches with people
            (and companies) seeking mentoring and coaching. You can use MentorMapp ® to get access to, engage with, connect with, and
            collaborate with a community of mentors and coaches who are experts in leadership, management, and wellbeing.
            Participants can share their experiences with the community in total confidentiality.
          </p>
          <p>
            We focus on the success factors critical to sustain return on your investment in future and existing coaching and mentoring engagements.
          </p>
          <p>
            Join the movement or simply let us know your thoughts about this blog post.
          </p>
          <br/>

          -- Zoe, Social Media at MentorMapp ®</p>
        </article>
      </div>
      <div class="col-sm-4 contact_image">
        <!-- Blog Sidebar Widgets Column -->
        <!-- Blog Search Well -->
        <div class="pull-right" style="width: 300px;">
          <h4>Blog Search</h4>

          <div class="input-group">
            <input type="text" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                              <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
          </div>
        </div>

        <div class="row" style="margin-left: 0px;">
          <div class="col-sm-offset-2 col-sm-8 pull-left" style="padding-left: 0px;">
            <h4>Recent Posts</h4>
          <ul class="list-unstyled">
            <li><a href="#1">Coaching A Profession Not Just A Skill, Here are 5 Things You Should Know</a>
            </li>
            <hr/>
            <li><a href="#2">Transition To Become A Coach, 6 Questions You Need to Ask Yourself
            </a>
            </li>
            <hr/>
            <li><a href="#3">Selecting A Professional Coach in 4 Steps
            </a>
            </li>
            <hr/>
            <li><a href="#4">When Contracting With A Professional Coach</a></li>
            <hr/>
            <li><a href="#5">5 Benefits of membership to professional coaching organisation</a>
            </li>
            <hr/>
            <li><a href="#6">Starting a career as a professional coach, 4 Questions To Ask Yourself</a>
            </li>
            <hr/>
            <li><a href="#7">When interviewing a professional coach, 5 Questions You Need to Ask</a>
            </li>
            <hr/>
            <li><a href="#8">7 Possible Objectives to achieve with a professional coach</a>
            </li>
            <hr/>
            <li><a href="#9">A lifetime learner’s journey, continuing professional coaching education</a>
            </li>
          </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
    body {
        background-image: none;
    }</style>