<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <%= link_to image_tag("mentormapp_white.png", size: "150x50", alt: "MentorMapp Logo"), root_path, id: "mentor_mapp_logo", class: 'footer_img' %>
        <p class="copy_right">MentorMapp, Inc. © 2016</p>
        <p style="display: inline;" class="copy_right"><%= link_to image_tag("social-network22.svg", class: "s_icon", alt: "MentorMapp Logo"), 'https://twitter.com/MentorMapp' %></p>
        <p class="social_link"><%= link_to image_tag("linkedin1.svg", class: "s_icon", alt: "MentorMapp Logo"), "https://www.linkedin.com"%></p>
        <p class="social_link"><%= link_to image_tag("google110.svg", class: "s_icon", alt: "MentorMapp Logo"), "https://plus.google.com/u/1/114009613172000559059"%></p>

      </div>
      <div class="col-sm-6">
        <div class="col-sm-4">
          <ul class="foo_menu">
            <li><%= link_to raw("<span>Coaching</span> Resources"), '#' %></li>
            <li><%= link_to "External Coach", 'https://paper.li/MentorMapp/1455614132#!headlines' %></li>
            <li><%= link_to "Internal Coach", 'https://paper.li/MentorMapp/1455614094#!headlines' %></li>
            <li><%= link_to "Mentor", 'https://paper.li/MentorMapp/1455641063#!headlines' %></li>
          </ul>
        </div>
        <div class="col-sm-4">
          <ul class="foo_menu">
            <li><%= link_to raw("<span>Coaching</span> Community"), '#' %></li>
            <li><%= link_to "Purpose and Objective", '#' %></li>
            <li><%= link_to "Guidelines", '#' %></li>
            <!--<li><%#= link_to "Blog",'https://www.ideator.com/blog/ideator-profile-mentormapp-com/' %></li>-->
            <li><%= link_to "Blog", blog_path %></li>
          </ul>
        </div>
        <div class="col-sm-4">
          <ul class="foo_menu">
            <li><%= link_to raw("<span>General</span> Information"), '#' %></li>
            <li><%= link_to "Terms and Privacy ", tos_path %></li>
            <li><%= link_to "Contact Us", new_contact_path %></li>
            <li><%= link_to "Home", root_path %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>