<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <%= link_to image_tag("mentor_mapp.png", size: "300x90", alt: "MentorMapp Logo"), root_path, id:"mentor_mapp_logo" %>
      </div>
      <div class="col-sm-6">
        <div class="col-sm-6">
          <ul class="foo_menu">
            <li><%= link_to raw("<span>Coaching</span> Community"),   '#' %></li>
            <li><%= link_to "Purpose and Objective",'#' %></li>
            <li><%= link_to "Guidelines",           '#' %></li>
            <li><%= link_to "Blog",                 'https://www.ideator.com/blog/ideator-profile-mentormapp-com/' %></li>
          </ul>
        </div>
        <div class="col-sm-6">
          <ul class="foo_menu">
            <li><%= link_to raw("<span>General</span> Information"),  '#' %></li>
            <li><%= link_to "Terms and Privacy ", tos_path %></li>
            <li><%= link_to "Contact Us",           new_contact_path %></li>
            <li><%= link_to "Home",                 root_path %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>